
.icon-vector-(1):before { content: '\e800'; } /* '' */
.icon-©:before { content: '\e801'; } /* '' */
.icon-h_m-2:before { content: '\e802'; } /* '' */
.icon-zavodik:before { content: '\e803'; } /* '' */
.icon-dom:before { content: '\e804'; } /* '' */
.icon-vverx:before { content: '\e805'; } /* '' */
.icon-pyb:before { content: '\e806'; } /* '' */
.icon-bigprodaji:before { content: '\e807'; } /* '' */
.icon-grafik:before { content: '\e808'; } /* '' */
.icon-calc:before { content: '\e809'; } /* '' */
.icon-vector:before { content: '\e80a'; } /* '' */
.icon-phone_bluetooth_speaker_24px:before { content: '\e80b'; } /* '' */
